.login-header {
    background-color: #344F73;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}

#login-form-wrap {
    background-color: #fff;
    max-width: 450px;
    margin: 20px auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form-wrap div {
    position: relative;
    margin: 25px;
}

#login-form {
    padding: 0 40px;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 45px;
    border-radius: 8px;
    padding-left: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #3ca9e2;
}

input[type="text"]:focus:invalid,
input[type="password"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
}

input[type="text"]:valid~.validation,
input[type="password"]:valid~.validation {
    display: block;
    border-color: #0c0;
}

input[type="text"]:valid~.validation span,
input[type="password"]:valid~.validation span {
    background: #0c0;
    position: absolute;
    border-radius: 6px;
}

input[type="text"]:valid~.validation span:first-child,
input[type="password"]:valid~.validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="text"]:valid~.validation span:last-child,
input[type="password"]:valid~.validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

button {
    border: none;
    background-color: #344F73;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    cursor: pointer !important;
}

button:hover {
    background-color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#create-account-wrap {
    font-size: 14px;
    text-align: center;
}

#usernameErr,
#passwordErr {
    color: red;
}